body {
  font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
}
p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 9%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #fff;
  font-size: 1.2rem;
}

.download_button {
  margin: 5% 3% 5% 0;
}

.title-image {
  max-width: 80%;
  transform:
  rotate(25deg);
  position: absolute;
  right: 450px;
}

/* Features section */
.pick3 {
  padding: 7%;
  text-align: center;
}

.pick3 i {
  color: #ef8172;
}

.pick3 i:hover {
  color: #ff4c68;
}


#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
/* Testimonials carousel */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
/* Pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
/* CTA section */
#cta{
padding: 7% 15%;
text-align:center;
background-color: #ff4c68;
color: #fff;
}
#cta h3{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
#cta i{
  margin-right: 5px;
}
/* FOOTER SECTION */
#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
#footer i{
  margin: 0 5px 20px 5px;
}

@media(max-width:1575px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
